html {
  scroll-behavior: smooth;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #bdb6b600;
  /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background: #2dac5c;
  /* Color of the scroll thumb */
  border-radius: 10px;
  /* Rounded corners of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scroll thumb on hover */
}

/* For Firefox */
.scrollable-element {
  scrollbar-width: thin;
  /* Width of the scrollbar */
  scrollbar-color: #888 #f1f1f1;
  /* Thumb color and track color */
}

/* HeroCards background shadow */
.shadow {
  position: absolute;
  background: hsl(var(--primary) / 0%);
  border-radius: 24px;
  rotate: 35deg;

  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 20%);
    right: 460px;
  }

  to {
    background: hsl(var(--primary) / 80%);
    right: 160px;
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }

    to {
      background: hsl(var(--primary) / 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 280px;
    }

    to {
      background: hsl(var(--primary) / 30%);
      right: 100px;
    }
  }
}